@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&family=Sriracha&display=swap');
body{
    font-family: 'Sriracha', cursive;
    margin: 0;
    padding: 0;
    background-color: #888;
    background: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
     background-size: cover
 

 }
.navbar{
   
    border: 1px solid black; 
    background-color: #666;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    text-align: left;

}

ul {
    width: 80%;
   margin-left: 0;
    align-items: center;
    justify-content: center;
    list-style: none;
   
  
}
ul li {
    margin: auto;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-transform: uppercase;
}
ul li button{
    border-radius: 20px;
    width: 10%;

}
ul li button:hover{
    background-color: #fff;
    transition: .3s ease-in;
}
ul li a:hover{
 color: bisque;
    
}
#column{

    /* border: 1px solid black; */
    column-width: 320px;
    column-gap: 15px;
    margin: 50px auto;
    width: 90%;
    max-width: 1100px;
}
#column figure{
    background-color:#666;
    /* border: 2px solid red; */
    box-shadow: 0 0 10px black;
   margin: 0 15px 15px;
   padding:15px ;
   padding-bottom:10px ;
   transition: .3s ease-in-out;
   display: inline-block;
   -webkit-column-break-inside: avoid;
   border-radius: 20px;
   text-align: center;
}
#column figure img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#column:hover figure:not(:hover){
    opacity: 0.4;
}
