@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&family=Sriracha&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    background: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    font-family: 'Sriracha', cursive;
}
.navbar{
    display: flex;
    border: 1px solid black; 
    background-color: #666;
    color: #fff;
    text-transform: uppercase;
    width: auto;


}


ul {
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
  
}
ul li {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-transform: uppercase;
}
ul li button{
    border-radius: 10px;
    width: 100%;
}
ul li button:hover{
    background-color: #fff;
    transition: .3s ease-in-out;
}
header{
    height: 720.1px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: 100%;
}
.header-info{
   width: 700px;
   height: 200px;
   text-align: center;
   /* border: 1px solid black; */
   color: aliceblue;
}
.header-info h1{
    font-size: 280%;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
}
.header-info p{
    font-size: 100%;
}
.header-info p:hover{
    color: black;
}
.premain{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 30px;
    background-color: #b3b1b1;
}
.premain h1{
    margin-top: 0;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 10px black;
    
}
.teams{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 
  
}
.team-item{
     /* border: 1px solid red;  */
    text-align: center;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
    align-items: center;
    
}


.team-item img{
    /* border: 1px solid black; */
    width: 40%;
    border-radius: 10px;
    box-shadow:  0 0 10px black;
}

.team-item a{
   
    background-color:#fff ;
    text-decoration: none;
    color:#666;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    box-shadow: 0 0 10px black;
    width: 70%;
    height: 20px;
   
}


.team-item a:hover{
    background: #666;
    color: #000;
    
}


@media only screen and (max-width: 300px) {
    img{
        width: 100%;
        display: grid;
         justify-content: center;
         align-items: center;
       
        
    }
    .teams{
        display: grid;
        grid-template-columns: 1fr;
    }
    .activity-main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr;
    }
    .team-item{
        margin-left: auto;
        margin-right: auto;
    }
    .team-item2{
        margin-left: auto;
        margin-right: auto;
    }
    .team-item3{
        margin-left: auto;
        margin-right: auto;
    }
    ul li a{
        text-decoration: none;
        color: black;
        font-size: 60%;
        text-transform: uppercase;
    }

}
@media screen and(max-width: 540px) {
    .team-item{
        width: 30%;
    }
    .team-item a{
        text-align: center;
        align-items: center;

    }
    .team-item img{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:786px) {
    .teams{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .teams img{
        width: 30%;
    }
    .teams h1{
        margin-top: auto;
    }
    .activity{
        margin-top: 10%;
    }

.activity-main{
    display: grid;
    grid-template-columns: 2fr;
 }
 .team-item{
    margin-top: 20px;
}

    
    
}
@media screen and (max-width:600px){
    .teams img{
            width: 40%;
    }
    

}
@media screen  and (max-width:299px){
    .team-item {
       
       display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
       align-items: center;
       
    }
    .team-item img{
        
        
        width: 80%;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        height: auto;
    }
    .team-item a{
        margin-left:auto;
        margin-right:auto ;
    }
}