body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.navbar{
    display: flex;
    border: 1px solid black; 
    background-color: #666;
    color: #fff;
    text-transform: uppercase;
    width: auto;


}
.logo{
    /* border: 1px solid black; */
    display: flex;
    width: 20%;  
}

ul {
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
  
}
ul li {
    margin: auto;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-transform: uppercase;
}
ul li a:hover{
 color: bisque;
    
}
header{
    height: 720.1px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: 100%;
}
.header-info{
   width: 700px;
   height: 200px;
   text-align: center;
   /* border: 1px solid black; */
   color: aliceblue;
}
.header-info h1{
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
}
.header-info p{
    font-size: 90%;
}
.header-info p:hover{
    color: black;
}
.premain{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 30px;
    background-color: #b3b1b1;
}
.premain h1{
    margin-top: 0;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 10px black;
    
}
.teams{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
 
  
}
.team-item{
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
    align-items: center;
    
}


.team-item img{
    width: 40%;
    border-radius: 10px;
    box-shadow:  0 0 10px black;
}

.team-item a{
   
    background-color:#fff ;
    text-decoration: none;
    color:#666;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30%;
    box-shadow: 0 0 10px black;
    width: 60px;
   
}


.team-item a:hover{
    background: #666;
    color: #000;
    
}

.activity{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    background-color: #666;
    font-size:170% ;
    margin-top: auto;
    
}
.activity h1{
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 10px black;
    justify-content: center;
    align-items: center;
}
.activity-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.activity-main-item{
    text-align: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
    margin-top: 20px;
}
.activity-main-item2{text-align: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
    margin-top: 20px;
}
.activity-main-item3{text-align: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
    margin-top: 20px;
}
.activity-main-item4{text-align: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
    margin-top: 20px;
}



.activity-main-item img{
    width: 270px;
    border-radius: 10px;
}
.activity-main-item2 img{
    width: 270px;
    border-radius: 10px;
}
.activity-main-item3 img{
    width: 270px;
    border-radius: 10px;
}
.activity-main-item4 img{
    width: 270px;
    border-radius: 10px;
}




.activity-main-item:hover{
    background-color: aliceblue;
}
.activity-main-item2:hover{
    background-color: aliceblue;
}
.activity-main-item3:hover{
    background-color: aliceblue;
}
.activity-main-item4:hover{
    background-color: aliceblue;
}
.activity-main-item5:hover{
    background-color: aliceblue;
}


.precontact{
    /* border: 1px solid black; */
    width: 100%;
    height: 60px;
    background-color: #666;
    font-size:30px ;
    margin-top: 20px;
}
.precontact h1 {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 10px black;
   
}
.contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid black; */
   width: 100%;
   height: 300px;
   text-align: center;
   
}
.gmail{
    /* border: 1px solid black; */
    width: 100%;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    box-shadow: 0 0 10px #000;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    
}
.contact img{
    margin-top: 30px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact a{
    background-color:#fff ;
    text-decoration: none;
    color:#666;
    border-radius: 10px;
    padding: 0 0.5rem;
    font-size: 20px;
    box-shadow: 0 0 10px black;
}
.contact a:hover{
    background-color: #666;
    color: #fff;
   
}
.gmail:hover{
    background-color: #b3b1b1 ;
}
#face img {
    margin-top: 30px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#inst img{
    margin-top: 30px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
@media only screen and (max-width: 300px) {
    img{
        width: 100%;
        display: grid;
         justify-content: center;
         align-items: center;
       
        
    }
    .teams{
        display: grid;
        grid-template-columns: 1fr;
    }
    .activity-main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr;
    }
    .team-item{
        margin-left: auto;
        margin-right: auto;
    }
    .team-item2{
        margin-left: auto;
        margin-right: auto;
    }
    .team-item3{
        margin-left: auto;
        margin-right: auto;
    }
    ul li a{
        text-decoration: none;
        color: black;
        font-size: 60%;
        text-transform: uppercase;
    }

}
@media screen and(max-width: 540px) {
    .team-item{
        width: 30%;
    }
    .team-item a{
        text-align: center;
        align-items: center;

    }
    .team-item img{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:786px) {
    .teams{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .teams img{
        width: 30%;
    }
    .teams h1{
        margin-top: auto;
    }
    .activity{
        margin-top: 10%;
    }

.activity-main{
    display: grid;
    grid-template-columns: 2fr;
 }
 .team-item{
    margin-top: 20px;
}

    
    
}
@media screen and (max-width:600px){
    .teams img{
            width: 40%;
    }
    

}
