body{
    margin: 0;
    padding: 0;
    background: #666;
}
.navbar{
    display: flex;
    border: 1px solid black;
    background-color: #666;
    color: #fff;
    text-transform: uppercase;

}
.logo{
    /* border: 1px solid red; */
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
ul {
    /* border: 1px solid blue; */
    display: flex;
    width: 120%;
    justify-content: right;
    align-items: center;
   list-style: none;
   
}
ul li {
    margin: 0 1rem;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
header{
    height: 760.1px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(https://images.unsplash.com/photo-1555532538-dcdbd01d373d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1264&q=80) ;
}

.header-info{
    height: 300px;
    width: 650px;
    /* border: 1px solid red; */
    text-align: center;
    color: #fff;

}
.header-info a{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    width: 80px;
    text-decoration: none;
}
.header-info a:hover{
    background: #555;
}
.preteams{
    border: 1px solid;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 0 0 30px  #EAD6D2;
    background: url(https://images.unsplash.com/photo-1464263866732-138a1da44860?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBsYW50JTIwZGFya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
     
}
.teams{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    height: 450px;
 
  
}
.team-item{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white; 
    background: url(https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    color:#fff;
    font-size: 20px;

}
.team-item-2{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white; 
    background: url(https://images.unsplash.com/photo-1598662779094-110c2bad80b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1246&q=80);
    color: #fff;
    font-size: 20px;

}
.team-item-3{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white; 
    background: url(https://images.unsplash.com/photo-1584727151652-d09b17ebf23f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1211&q=80);
    color: #fff;
    font-size: 20px;

}
.team-item img {
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 20px #000;
}
.team-item-2 img {
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 20px #000;
}
.team-item-3 img {
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 20px #000;
}
.team-item a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.5rem;
border-radius: 10px;

}
.team-item a:hover{
    background: #555;
}
.team-item-2 a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.5rem;
border-radius: 10px;

}
.team-item-2 a:hover{
    background: #555;
}

.team-item-3 a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.5rem;
border-radius: 10px;

}
.team-item-3 a:hover{
    background: #555;
}






